body {
    font-family: "Roboto", sans-serif;
    margin: 0;

}

.login_page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #111;
    color: #fff;
}

.login_page.container {
    width: 100%;
    max-width: 400px;
    padding: 0 20px;
    box-sizing: border-box;
}

.login {
    background-color: #333;
}

.login_page input {
    transition: border-color 0.3s ease-in-out;
    outline: none;
    border-color: none;
    border-bottom: 2px solid #fff;;
}

.login_page input:focus {
    box-shadow: none;
    border-bottom: 2px solid #3498db;
}

.login_page button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.login_page button:hover {
    background-color: #2980b9;
}